.container-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 3 columnas de igual ancho */
    row-gap: 1vw; /* Espaciado entre los elementos (opcional) */
    column-gap: 2vw;
}

#item-prod {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 18vw;
    height: 35vh;
    border-radius: 10px;
    justify-content: space-between;
    /* align-items: center; */
}
#item-prod img{
    display: flex;
    align-self: center;
    width: 70%;
    height: 60%;
}
.item-text{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background: #fff;
    width: 100%;
    border-radius: 0 0 10px 10px;
    /* align-self: flex-end; */
}
#item-name{
    align-self: center;
    display: flex;
    width: 90%;
}
#item-box{
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    font-size: 1.05vw;
    border-top: solid 1px #999;
}
#item-box button{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.1rem;
}
.item-text p{
    color: rgb(0, 0, 0);
}
