.container-product{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    flex-grow: 1;
}
.container-product-body{
    display: flex;
    align-items: self-start;
    gap: 1%;
    padding: 0 1vw;
}