.Side-Bar{
    display: flex;
    justify-content: center;
	align-items: center;
    background-color: #2D0346;
    list-style: none;
}
.Side-Bar button{
    height: 1.8rem;
    text-align: center;
    align-items: center;
	background-color: transparent;
	transition-property: background;
	transition-duration: .1s;
    cursor: pointer;
    border: none;
    color: #ffffff;
    border-left: #ffffff solid 1px;
    border-right: #ffffff solid 1px;
    padding: 0 1rem;
}
.Side-Bar button:hover{
	background: #190425;
	color: #ffffff;
}
button div{
    font-weight: 400;
    font-size: 1rem;
}